.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
}

.image {
    height: 300px;
}

tite-contaner {
    width: 50px;
    text-align: center;
}